{{/*
# To define an alternate 'boot.cfg' Template, set the Param 'esxi/base-bootcfg-override'
# to the name of a system Template with the alternate directives.  Any Params defined
# here (or on the system) can be used in the alternate override Template.
*/ -}}
{{ if ( .Param "esxi/base-bootcfg-override" ) -}}
{{ $tmpl := ( .ParamExpand "esxi/base-bootcfg-override" ) -}}
{{ .CallTemplate $tmpl . }}
{{ else -}}
bootstate=0
title=Loading ESXi installer for {{.Env.OS.Name}}
timeout=2
prefix={{if .Param "esxi/http-boot" }}{{.Env.PathFor "http" "/"}}{{else}}/{{ trimSuffix "/" (.Env.PathFor "tftp" "/") }}{{end}}
{{.Env.LineFrom "boot.cfg" "kernel=" | trim | replace "/" "" }}
kernelopt=ks={{.Machine.Url}}/compute.ks systemMediaSize={{ .Param "esxi/system-media-size" }}{{if .ParamExists "kernel-options"}} {{.ParamExpand "kernel-options"}}{{end}}{{if .ParamExists "esxi/serial-console"}} {{.ParamExpand "esxi/serial-console"}}{{end}}
build={{.Env.OS.Version}}
updated=0
{{ if eq (.Param "esxi/set-norts") true }}norts=1{{ end }}
{{ if .ParamExists "esxi/boot-cfg-extra-options" }}{{ .Param "esxi/boot-cfg-extra-options" }}{{ end }}
{{.Env.LineFrom "boot.cfg" "modules=" | trim | replace "/" "" }}{{ range $key := .Param "esxi/boot-cfg-extra-modules" }} --- {{$key}}{{ end }}
{{ end -}}
