#!/usr/bin/env sh
# Configure ESXi NTP time handling services via ESXCLI command

set -e
NTP=""
NTP_SHOW=""
TWIDDLE_NTP=""

{{ if eq (.Param "rs-debug-enable") true }}set -x{{ end }}

{{ if .ParamExists "esxi/ntp-conf" -}}
echo ""
echo "FATAL: 'esxi/ntp-conf' config not supported, use only 'ntp-servers' Param"
exit 1
{{ else -}}

{{ if .ParamExists "ntp-servers" -}}

echo ""
echo ">>> Starting NTP config changes via 'esxcli' tooling..."

{{range $key, $ntp := .Param "ntp-servers" -}}
NTP="$NTP --server {{ $ntp }}"
NTP_SHOW="$NTP_SHOW {{ $ntp }}"
TWIDDLE_NTP="yes"
{{ end -}}

if [[ -n "$TWIDDLE_NTP" ]]
then
  echo ">>> Reset the NTP config back to factory defaults"
  esxcli system ntp set --reset

  echo "+++ Setting NTP server(s) to:  $NTP_SHOW"
  esxcli system ntp set $NTP --enabled true

  echo ">>> NTP configuration is now: "
  esxcli system ntp config get

  echo ">>> Collecting NTP connection peer status..."
  sleep 10
  ntpq -np
  echo "+++ NTP config changes done"
fi

{{ else -}}
echo ""
echo ">>> No NTP configuration defined in 'ntp-servers' Param, skipping."
{{ end -}}
{{ end -}}

