sources:
  05_primary:
{{if .ParamExists "image-deploy/image-url" }}
{{if .Param "image-deploy/image-url" }}
    uri: "{{.ParamExpand "image-deploy/image-url"}}"
{{end }}
{{end }}
{{if .ParamExists "image-deploy/image-file" }}
{{if .Param "image-deploy/image-file" }}
    uri: "{{.ProvisionerURL}}/{{.ParamExpand "image-deploy/image-file"}}"
{{end }}
{{end }}
    type: "{{.Param "image-deploy/image-type"}}"
{{$top := . }}
{{range $index, $file := .Param "image-deploy/additional-tarballs" }}
  {{$file.index}}:
{{if $file.drpserved }}
    uri: "{{$top.ProvisionerURL}}/{{$file.uri}}"
{{else}}
    uri: "{{$file.uri}}"
{{end}}
    type: "{{$file.format}}"
{{end}}

{{if .ParamExists "curtin/partitions"}}
storage: {{ get (.ParamExpand "curtin/partitions") "storage" | toJson }}
{{end}}

{{ if eq (.Param "image-deploy/image-os") "linux" }}
  {{ if or (.ParamExists "image-deploy/swapfile-maxsize") (or (.ParamExists "image-deploy/swapfile-name") (.ParamExists "image-deploy/swapfile-size")) }}
swap:
    {{ if .ParamExists "image-deploy/swapfile-name" }}
  filename: {{ .Param "image-deploy/swapfile-name" }}
    {{ end }}
    {{ if .ParamExists "image-deploy/swapfile-maxsize" }}
  maxsize: {{ .Param "image-deploy/swapfile-maxsize" }}
    {{ end }}
    {{ if .ParamExists "image-deploy/swapfile-size" }}
  size: {{ .Param "image-deploy/swapfile-size" }}
    {{ end }}
  {{ end }}
{{ end }}
