#!/bin/bash

# Clean up past styles
systemctl stop drpcli
systemctl stop drpcli-init
systemctl disable drpcli
systemctl disable drpcli-init
rm -rf /etc/systemd/system/drpcli*
systemctl daemon-reload

cp /curtin/drpcli /usr/local/bin
chmod +x /usr/local/bin/drpcli
command -v restorecon > /dev/null && restorecon /usr/local/bin/drpcli

export RS_ENDPOINT="{{.ApiURL}}"
export RS_UUID="{{.Machine.UUID}}"
export RS_TOKEN="{{.GenerateInfiniteMachineToken}}"

/usr/local/bin/drpcli agent install
/usr/local/bin/drpcli agent start

