#!/bin/bash

/usr/local/bin/drpcli -T {{.GenerateInfiniteMachineToken}} -E {{.ApiURL}} machines update {{.Machine.UUID}} '{ "Runnable": true }'
/usr/local/bin/drpcli -T {{.GenerateInfiniteMachineToken}} -E {{.ApiURL}} machines processjobs {{.Machine.UUID}}

